<main>
	<div class="top-wrapper">
		<div class="inner-bg">
			<div class="container">
				<div class="upper-contents">
					<h1 class="top-title">Communications <span class="top-subtitle">その先にあるもの</span></h1>
					<p>どんなに時代が変わってもひとつだけ変わらないモノ、それは人と人のつながりです。<br>そこから新しい価値や文化が生まれ育っていきます。<br>
					エールは様々な情報提供からそんな人と人のつながりをサポートしています。</p>
				</div>
				<div class="bottom-contents">
					<div class="menu-box service">
						<h2><a href="#">サービス</a></h2>
						<p>当社の各サービス事業<br>についてのご紹介です。<br>就職情報誌「Yell」<br>まるごとクーポン「PaPick」</p>
					</div>
					<div class="menu-box recruit">
						<h2><a href="#">採用情報</a></h2>
						<p>当社での採用情報です。是非、私達と一緒に夢を追いましょう。</p>
					</div>
					<div class="menu-box aboutus">
						<h2><a href="#">会社概要</a></h2>
						<p>新しい価値の提案と新しい文化の創造を目指すエールとはこんな会社です。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>